<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:"http://schemas.android.com/apk/res/android" android:versionCode="54" android:versionName="1.7.6" android:installLocation="preferExternal" package="com.whisperarts.tales">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="10" />
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <application android:label="@string/app_name" android:icon="@drawable/icon" android:name=".TalesApplication">
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:label="@string/app_name" android:name=".MainTabbed" android:configChanges="keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name=".About" />
        <activity android:theme="@*android:style/Theme.NoTitleBar.Fullscreen" android:name=".Settings" />
        <activity android:name="com.whisperarts.tales.lib.activities.ShowTale" />
        <activity android:name="com.whisperarts.tales.lib.activities.PackShowTale" />
    </application>
</manifest>
